
.idea/.idea.Spessman/.idea/contentModel.xml
.idea/.idea.Spessman/.idea/discord.xml
.idea/.idea.Spessman/.idea/indexLayout.xml
.idea/.idea.Spessman/.idea/workspace.xml
Library/Artifacts/*
Temp/*
*.bin
*.log
